.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-mobile2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-tablet2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-h-one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-hover;
  margin: 0 auto 30px;

  @media screen and (min-width: 1200px) {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-hover;
    text-align: center;
    max-width: 696px;
    margin: 0 auto 30px;
  }
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-hover;
  background: $hover-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  &:hover {
    background: #188ce8;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }
  &:focus {
    background: #188ce8;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }

  @include desktop {
    width: 216px;
  }
}

.btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $text-color;
  background: $background-btn;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  &:hover {
    background-color: $hover-color;
    color: $secondary-hover;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }
  &:focus {
    background-color: $hover-color;
    color: $secondary-hover;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }
}
