.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms $cubic, opacity 250ms $cubic;
}

.backdrop.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  transform: scaleX(0);
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  align-items: center;
  justify-content: center;

  transition: border 250ms $cubic, fill 250ms $cubic;
  &:hover {
    border: 1px solid $hover-color;
    transition: border 250ms $cubic, fill 250ms $cubic;
    fill: $hover-color;
  }
  &:focus {
    border: 1px solid $hover-color;
    transition: border 250ms $cubic, fill 250ms $cubic;
    fill: $hover-color;
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scaleX(100%);
  transition: transform 1000ms $cubic;
}

.icon-modal-btn {
  transform: rotateZ(0deg);
  transition: transform 1000ms $cubic;
}

.modal-button:hover .icon-modal-btn,
.modal-button:focus .icon-modal-btn {
  transform: rotateZ(360deg);
}

.modal-tittle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}

.form-text-modal {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: #757575;
}

.form-name-box {
  margin-bottom: 10px;
}
.form-tel-box {
  margin-bottom: 10px;
}
.form-email-box {
  margin-bottom: 10px;
}
.form-textarea-box {
  margin-bottom: 20px;
}

.input-modal {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;

  &:focus {
    outline: transparent;
    border-color: $hover-color;
  }
  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }

  letter-spacing: 0.03em;

  color: #757575;

  align-items: center;
  gap: 8px;
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.16;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.span-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-checkbox:checked + .span-icon {
  border: transparent;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $hover-color;
}

/* .checkbox-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-text::before {
  border: transparent;
  background-color: $hover-color;
  background-image: url(../images/sprite.svg#icon-check);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  fill: #ffffff;
} */

.form-modal-btn {
  @media screen and (max-width: 320px) {
    font-size: 5vw;
  }
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 52px;

  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms $cubic, box-shadow 250ms $cubic;

  &:hover {
    background-color: #188ce8;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }
  &:focus {
    background-color: #188ce8;
    transition: background-color 250ms $cubic, box-shadow 250ms $cubic;
  }
}
.form-modal-btn:disabled {
  background: #2195f37e;
}

.input-wrap {
  position: relative;
}

.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-modal:focus {
  outline: transparent;
  border: 1px solid $hover-color;
}
.input-modal:focus + .icon-modal {
  fill: $hover-color;
}

.confirm {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1231312;

  border: 1px solid green;
  padding: 10px;

  display: flex;
}

.confirm-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 12312313132;
}

.confirm-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.confirm-text {
  font-family: Roboto, sans-serif;
  text-align: center;
}
