.works-list-top {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 50px;
  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.button-all {
  padding: 6px 22px;
}
.button-web {
  padding: 6px 22px;
}
.button-add {
  padding: 6px 22px;
}
.button-design {
  padding: 6px 22px;
}
.button-mark {
  padding: 6px 22px;
}
