.works-list-top {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-all {
  padding: 6px 22px;
}
.button-web {
  padding: 6px 22px;
}
.button-add {
  padding: 6px 22px;
}
.button-design {
  padding: 6px 22px;
}
.button-mark {
  padding: 6px 22px;
}
