$background-btn: #f5f4fa;
$background-hero: #2f303a;
$text-color: #212121;
$hover-color: #2196f3;
$adress-color: #757575;
$secondary-hover: #ffffff;
$icon-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
